body{
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table{
  border-collapse: collapse;
  display: inline-table;
  flex-grow: 0;

}
th, td {
  text-align: center;
  border: 1px solid gray;
  padding: 5px;
}
.main__row{
  display: flex;
}
select{
  flex-shrink: 0;
}
.main__table-wrapper{
  overflow: auto;
}